@model IEnumerable<RappiDozApp.Models.Producto>

<div class="animate__animated animate__fadeIn">
    <div class="seccion-header">
        <div class="header-izq">
            <h2>Mis Platillos</h2>
        </div>
        <button onclick="abrirForm('Producto', 'Crear')" class="btn-circular"><i class="fa-solid fa-plus"></i></button>
    </div>

    <div class="grid-gestion-crud">
        @foreach (var item in Model)
        {
            <div class="card-gestion-crud">
                <input type="checkbox" id="zoom-@item.Id" class="toggle-detalles">
                <div class="card-principal">
                    <label for="zoom-@item.Id" class="btn-lupa"><i class="fas fa-search-plus"></i></label>
                    <div class="card-contenido">
                        <img src="@(item.FotoBinaria != null ? $"data:{item.ContentType};base64,{Convert.ToBase64String(item.FotoBinaria)}" : "/img/placeholder-food.png")" alt="Foto">
                        <div class="info-basica">
                            <h3>@item.Nombre</h3>
                            <p class="product-price-text">₡@item.Precio.ToString("N0")</p>
                        </div>
                    </div>
                    <div class="acciones-der-inline">
                        <button onclick="abrirForm('Producto', 'Editar', @item.Id)" class="btn-accion edit"><i class="fas fa-pencil-alt"></i></button>
                        <button onclick="eliminarRegistro('Producto', @item.Id)" class="btn-accion delete"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
                <div class="detalles-desplegables">
                    <p class="menu-description"><strong>Descripción:</strong> @item.Descripcion</p>
                </div>
            </div>
        }
    </div>
</div>